<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <appSettings>
    <add key="NINJA:ACCESS_KEY_ID" value="ENTR APP ID"/>
    <add key="NINJA:SECRET_ACCESS_KEY" value="ENTER ACCESS KEY"/>
    <add key="SHAREPOINT:URL" value="ENTER SHAREPOINT URL"/>
    <add key="SHAREPOINT:USER_NAME" value="ENTER USERNAME"/>
    <add key="SHAREPOINT:PASSWORD" value="ENTER PASSWORD"/>
  </appSettings>
</configuration>
